
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'mulish', sans-serif;
}


.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  height: 200vh;
  overflow:visible;
}

/* Navigation Bar */
nav {
  display: flex;
  height: 80px;
  width: 100%;
  background: #fff;
  align-items: center;
  justify-content:space-between;
  flex-wrap: wrap;
  padding: 0 70px 0 70px;
}

nav .logo{
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}

nav ul{
  display: flex;
  align-items: center;
  list-style: none;
}

nav ul li{
  margin: 0;
}

nav ul li a{
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

button {
  background-color: #5F2EEA;
  color: #fff;
  border-radius: 5px;
  border: none;
  padding: .5em 1.5em;
  cursor: pointer;
}

nav ul li a.active,
nav ul li a:hover {
  color: white;
  background: #fff;
}
nav button a{
color: #fff;
}
nav .menu-btn i{
  color: #5F2EEA;
  font-size: 22px;
  cursor: pointer;
  display: flex;
}
/* input[type="checkbox"]{
  display: none;
} */

main {
  margin-top: 1em;
  justify-content:space-between;
  padding: 0 70px 0 70px;
}

main section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 7em;
}

main section h4 {
  font-size:1.5em; 
  color: #A0A3BD; 
  font-weight: 400;
  line-height: 3em;
  text-align: center;
}

main section span {
  font-size: 2em;
  color: #5F2EEA;
  font-weight: bolder;
}

/* Show toogle section */
  .show-toogle {
    background-color: #c8c9cd;
    padding: 2%;
  }

  .show-toogle section {
    display: flex;
    padding: 0 70px 0 70px;
    justify-content: space-between;
    margin-top: 1.5em;
  }
  .show-toogle section p {
    color:#5F2EEA;
    font-weight: 400;
  }

  .show-toogle section p:first-child {
    font-size: 1.2em;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
  }
  .show-toogle section p:last-child {
    font-size: .9em;
  }
  .show-toogle section p:first-child:hover {
    padding-bottom: 3px;
    border-bottom: 3px solid #5F2EEA;
  }
  .show-toogle section p a {
    text-decoration: none;
  }

  .card-movie {
    width: 225px;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    border: 2px solid #fff;
    margin-top: 70px;
  }

  .card-movie ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
  }
  /* card movie */
  .card-movie ul li {
    
    border-radius: 10px;
    margin: auto;
    padding: 1em;
    transition: all .2s ease-in-out;
  }
  .card-movie ul li:hover {
    transform: scale(1.1);
    background-color: white;
    padding-bottom: 5em;
  }
  /* card info */
  .card-image {
    width: 225px;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    border: 2px solid #fff;
    margin-top: 70px;
  }

  .card-image-um {
    background: white;
    width: 200px;
    height: 300px;
  }

  .card-image-um img {
    margin: auto;
    
  }

  .card-image img {
    margin: auto;
    width: 160px;
    height: 250px;
  }

  .card-image p:nth-child(1) {
    color: #14142B;
    height: 40px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 20px;

  }
  .card-image p:nth-child(2) {
    font-family: 'Open-Sans';
    font-size: .9em;
    color: #A0A3BD;
    font-weight: 400;
  }
  
  .movie-detail button {
    background-color: white;
    color: #5F2EEA;
    border: 1px solid #5F2EEA;
    margin-top: 30px;
  }
  .movie-detail button:hover {
    background-color: #5F2EEA;
    color: white;
    border: 1px solid white;
    transition: .3s;
  }

  .movie-detail {
    margin: auto;
    height: 150px;
  }
  /* Upcoming-Movies */
  .upcoming-movies {
    background-color: white;
    height: 800px;
  }

  .upcoming-movies .section-um {
    background: white;
    display: flex;
    padding: 0 70px 0 70px;
    justify-content: space-between;
    margin-top: 1.5em;
  }
  .upcoming-movies .section-um p {
    color:#5F2EEA;
    font-weight: 500;
  }

  .upcoming-movies section p:first-child {
    font-size: 1.2em;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
  }
  .upcoming-movies section p:last-child {
    font-size: .9em;
  }
  .upcoming-movies section p:first-child:hover {
    padding-bottom: 3px;
    border-bottom: 3px solid #5F2EEA;
  }
  .upcoming-movies section p a {
    text-decoration: none;
  }
  /* card date section */
  .card-date {
    background: white;
    display: flex;
    flex-direction: row;
    margin: 2em;
    margin-top: .7em;
    padding: 2em;
    padding-bottom: 0;
    list-style: none;
  }
  .card-date ul li button {
    background-color: white;
    color: #5F2EEA;
    border: 1px solid #5F2EEA;
  }
  .card-date ul li button:hover {
    background-color: #5F2EEA;
    color: white;
    border: 1px solid white;
    transition: .3s;
  }

  .btn-lg {
    width: 140px;
    height: 40px;
    margin: 5px;
    padding: 2%;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
  }

  .month {
    background: white;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
  }
  
  .new-item {
    border: 1px solid grey;
    padding: 1em;
    margin-left: -35px;
    border-radius: 10px;
  }
  /* Subscribe Button */
  .subscribe {
    display: flex;
    flex-direction: column;
    margin: 0 10em 0 10em;
    padding: 2em;
    text-align: center;
    box-shadow: 1px 1px 10px  grey;
  }
  .subscribe h2 {
    color: #4E4B66;
    margin-bottom: .3em;
  }
  .subscribe h1 {
    color: #5F2EEA;
    margin-bottom: 1em;
  }

  .input-subscribe {
    display: flex;
    width: 50%;
    flex-direction: row;
    align-self: center;
  }

  .input-email {
    margin: 0 10px;
    width: 100%;
    border: 2px solid #DEDEDE;
    border-radius: 4px;
  }

  .btn-subscribe {
    width: 30%;
    border-radius: 4px;
  }
  
  .subscribe p {
    margin-top: 3em;
    margin-bottom: 1em;
    color: #6E7191;
    font-size: 1em;
  }
  /* footer start */
  footer {
    display: flex;
    padding: 0 70px 0 70px;
    margin: 5em;
    align-items: baseline;
    justify-content: space-evenly;
  }
  
  footer .line-2 {
    flex-direction: row;
  }
  footer .line-2 a {
    text-decoration: none;
    color: black;
  }
  footer .line-2 a:hover {
    color: #5F2EEA;
  }
  footer .line-2  h3 {
    margin-bottom: 2em;
  }
  footer .line-2 h4 {
    margin-bottom: 1em;
  }
  footer .line-3 {
    margin-bottom: 1em;
    margin-left: 3em;
  }
  footer .line-3 .list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
  }
  footer .line-3 .list img {
    width: 50%;
  }
  footer .line-3 h4 {
    margin-bottom: 2em;
  }
  footer .line-3 ul li {
    margin-bottom: 2em;
  }
  footer .line-4 ul {
    list-style-type: none;
  }
  
  footer .line-4 h4 {
    margin-bottom: 2em;
  }
  
  footer .line-4 ul li {
    margin-bottom: .7em;
  }

  .sosmed-wrap {
    display: flex;
    flex-direction: column;
    justify-content: baseline;

  }

  .sosmed {
    margin-right: 10px;
  }
  

/* Media Query */
@media (max-width: 1000px) {
  nav{
    padding: 0 40px 0 50px;
  }
  .subscribe .input-subscribe input {
    margin-left: 5;
    width: 40%;
  }
}
@media (max-width: 920px) {
  nav .menu-btn i{
    display: block;
  }
  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
nav ul{
    position: fixed;
    top: 80px;
    left: -100%;
    background: white;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul{
    left: 0;
  }
  nav ul p {
    display: contents;
    font-size: .8em;
  }
  nav ul li{
    width: 100%;
    align-items: center;
    color: #6E7191;
  }
  nav ul li a{
    color: black;
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: .9em;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    padding-top: 10px;
    padding-bottom: 10px;
  }
  #click:checked ~ ul li a{
    margin-left: 0px;
  }
  nav ul li a.active,
  nav ul li a:hover{
    background: none;
    color: #5F2EEA;
  }
  main section  {
    flex-direction: column;
  }
  main section h4 {
    font-size:1em; 
    text-align: center;
  }
  .card-movie ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-evenly;
  }
  .card-movie ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: row;
    overflow: auto;
  }
  .card-date ul {
    overflow: scroll;
  }
  /* subscribe */
  .subscribe {
    margin: 0 3em 0 3em;
  }
  .subscribe .input-subscribe input {
    margin-left: 3;
    width: 100%;
  }
  .subscribe .input-subscribe button {
    width: 100%;
  }


  /* footer */
  footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    margin-top: 3em;
  }
  footer .line-2 {
    margin-top: 3em;
  }
  footer .line-2 .list {
    display: flex;
  }
  footer .line-2 .list h4:last-child {
    margin-left: 4em;
  }
  
  
  footer .line-3 {
    margin-top: 2em;
    margin-left: 0;
  }
  footer .line-3 ul {
    margin-bottom: 20px;
  }
  
  footer .line-3 .list {
    display: flex;
    
  }
  footer .line-3 .list img {
    display: flex;
    flex-grow: 1;
    width: 100%;
    padding: 10px;
  }
  footer .line-4 {
    margin-top: 0;
  }
  footer .line-4 ul{
    display: flex;
    flex-direction: column;
  }
  footer .line-4 ul li{
    margin-bottom: .7em;
    display: flex;
    align-items: center;
  }
  footer .line-4 ul li span{
    margin-left: .5em;
  }
  footer .line-4 h4 {
    margin-bottom: 1em;
  }
  
}