/* Left Side (Brand , Progress Bar , image text)*/
* {
    box-sizing: border-box;
    font-family: 'mulish', sans-serif;
}

html, body {
    font-family: 'mulish', sans-serif;
    font-size: 100%;
}

html, body, .wrapper, .sct {
    height: 100%;
    margin: 0;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
                        "centerLeft centerRight";
}

.sct {
    display: flex;
    align-items: left;
    justify-content: left;
}

.brand {
    grid-area: centerLeft;
    background-color: #2B156B;
}

.brand > img {
   object-fit: cover;
   opacity: 0.2;
}

.brand > h3 {
    font-weight: 800;
    outline: 3px solid #fff;
    color: #fff;
}
.image{
  position: absolute;
  display: flex;
  padding-left: 100px;
  padding-top: 100px;
}
.image-text {
  position: absolute;
  display: flex;
  padding-left: 110px;
  padding-top: 250px;
  font-size: 48px;
  font-family: 'mulish', sans-serif;
  color: white;
}
.image-text > label {
  position: absolute;
  display: flex;
  padding-top: 120px;
  font-size: 25px;
  opacity: 0.4;
  font-family: 'mulish', sans-serif;
  color: white;
}

.left-side {
    width: 40%;
    height: 100%;
    
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-top: 650px;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    color: #fff
}

.progres_bar {
    counter-reset: progress 0
}

.progres_bar li {
    list-style: none;
    counter-increment: progress 1;
    position: relative;
    margin-bottom: 70px;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1px
}

.progres_bar li::before {
    position: absolute;
    content: counter(progress);
    height: 30px;
    width: 30px;
    border-radius: 50%;
    color: #fff;
    z-index: 5;
    border: 1px solid #fff;
    background-color: #fff;
    left: -40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 800;
    top: -8px;
    cursor: pointer;
    transition: all 0.5s
}

.progres_bar li::after {
    position: absolute;
    content: '';
    height: 90px;
    width: 4px;
    background-color: #fff;
    left: -25px;
    top: -70px
}

.progres_bar li:nth-child(1)::after {
    display: none
}

.progres_bar li.active::after {
    background-color: #ffff !important
}
.progres_bar li.active{
    color: #fff !important
}
.progres_bar li:nth-child(1) {
    color:  #fff

}

.progres_bar li:nth-child(1)::before {
    background-color: #fff;
    color: #29034180 !important
}

.progres_bar li.active::before {
    background-color: #29034180 !important;
    color: white !important
}

/* Right Side (Form Reset Password)*/
.right-side {
    background-color: #fff;
    height: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-sizing: border-box;
    padding: 50px
}
.main {
    display: none
}
.active {
    display: block !important
}
.manage {
    justify-content: left;
    align-items: left;
    text-align: left;
}
.manage p {
    font-size: 14px;
    color: #8692A6;
}

.input_div {
    margin-top: 40px;
    gap: 20px;
    width: 100%
}

.input_text {
    position: relative;
    width: 100%
}

input[type="text"] {
    height: 45px;
    width: 100%;
    outline: 0;
    border: 1px solid #b1b1b1;
    border-radius: 5px;
    padding: 5px;
    box-sizing: border-box;
    transition: all 0.5s
}
.input_text label {
    pointer-events: none;
    position: relative;
    font-size: 14px;
    color: #4E4B66;
    transition: all 0.5s
}
input[type="password"] {
    height: 45px;
    width: 100%;
    outline: 0;
    border: 1px solid #b1b1b1;
    border-radius: 5px;
    padding: 5px;
    box-sizing: border-box;
    transition: all 0.5s;
}
.button {
    display: flex;
    margin-top: 20px
}
.button button {
    height: 45px;
    width: 100%;
    border-radius: 5px;
    outline: 0;
    border: none;
    cursor: pointer;
    transition: all 0.5s;
    color: #fff;
    font-size: 16px;
    background-color: #5F2EEA
}
@media (max-width: 768px) {
    .wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(20%, 80vmax);
    grid-template-areas: 
                        "centerLeft"
                        "centerRight";
    }
}
